/* .progressBar {
    display: inline-block;
} */

.percent {
    display: flex;
    /* width: 30%; */
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
    margin-top: -4px;
}
.center {
    display: flex;
    justify-content: center;
    margin-top: -4px;
}

.timeRange {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}