/* .progressBar {
    display: inline-block;
} */

.percent {
    display: flex;
    /* width: 30%; */
    margin-top: 0;
    margin-bottom: 0;
    justify-content: left;
    margin-top: -4px;
}
.center {
    display: flex;
    justify-content: center;
    margin-top: -4px;
}

.centerNoFlex {
    align-content: center;
    text-align: center;
    justify-content: center;
    margin-top: -4px;
}

.tightText {
    margin: 1.5em;
    line-height: 1.5em;
    font-size: small;
}

.timeRange {
    display: flex;
    justify-content: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-left: 20px;
  /*background-color: red;*/
  /*color: white;*/
  /*text-align: center;*/

}
.dataSection {
    margin-top: 50px;
}


Button {
    margin: 1px;
}