/* .progressBar {
    display: inline-block;
} */

.percent {
    display: flex;
    /* width: 30%; */
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
    margin-top: -4px;
}
.center {
    display: flex;
    justify-content: center;
    margin-top: -4px;
}

.timeRange {
    display: flex;
    justify-content: center;
}

.footer {
    float: left;
    margin-left: 20px;
}
.dataSection {
    margin: 50px;
}


Button {
    margin: 1px;
}