.title {
  background-color: yellow;
  color: #747575;
  min-height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* font-size: 40px !important; */
  /* background-color: yellow;
  color: #747575;
  min-height: 10em;
  display: flex;
  justify-content: center;
  align-items: center; */
  /* font-size: 40px !important; */
}

.title h1 {
  font-size: 5em;
  font-weight: bold;
}

.backgroundimg {
  background-image: url(../images/sebastian-unrau-47679-unsplash.jpg);
}

.description {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #383D3B;
  text-align: center;
  margin-bottom: -2px;
  
}
.descriptionInner {
  line-height: 2em;
  margin: 1em;
  width: 60%;
  font-size: 1.1em;
  color: #275D7D;
  /* text-align: center; */
}
.italic {
  font-style: italic;
}
.descriptionBio {
  line-height: 2em;
  margin-bottom: 4em;
  font-size: 1.1em;
  color: #275D7D;
  /* text-align: center; */
}

.green {
  color: #49C8AB;
}

.bio {
  text-align: left;
}

.under {
  text-decoration: underline;
  text-align: left;
}
.descriptionInner h1 {
  margin: 1em;
  font-style: italic;
}

.descriptionInnerInner {
  width: 75%;
  margin-left: 40px;
}

.descriptionInnerInner {
  display: inline-block;
}

.descriptionInnerInner h3 {
  margin: 1em;
}

.headshotAndBio {
  width: 250px;
  margin: 20px;
}

.gallery {
  min-height: 1px;
  display: block;
  text-align: center;
  width: 100%;
  overflow: auto;
  /* min-height: 1px; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-content: center; */
  /* width: 60%; */
  /* overflow: auto; */
}
.footerBackground {
  background-color: white;
  color: #383D3B;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
  padding-top: 2em;
  margin-top: -2px;
  padding-bottom: 1em;
}

.footer {
  width: 50%;
  margin: auto;
  background-color: #747575;
  float: left;
  margin-left: 20px;
  /* display: inline-block;
    width: 60%; */
  /* width: 50%; */
  /* margin: auto; */
}

.researchQuestion {
  color: cadetblue;
  font-style: italic;
}

.flexBoxRowWrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}