<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Plaid Quickstart Example</title>
<link rel="stylesheet" href="https://threads.plaid.com/threads.css">

<link rel="stylesheet" type="text/css" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <main class="main">
    <div class="grid">
      <div class="grid__column grid__column--is-twelve-columns">
        <div id="banner" class="everpresent-content">
          <h1 class="everpresent-content__heading">Plaid Quickstart</h1>
          <p id="intro" class="everpresent-content__subheading">
            An example application that outlines an end-to-end integration with Plaid
          </p>
          <p id="steps" class="everpresent-content__subheading">
           Success! You just created an Item by linking your account.
          </p>
        </div>

        <div id="container" class="initial-view">
          <p class="initial-view__description">
            Click the button below to open a list of Institutions. After you select one, you’ll be guided through an authentication process. Upon completion, a public_token will be passed back to the server and exchanged for access_token.
          </p>

          <button id="link-btn" class="button button--is-primary">Connect with Plaid</button>
        </div>

        <div id="app" class="connected-view">
          <div class="item-overview">
            <div class="item-overview__column">
              <h3 class="item-overview__heading">item_id</h3>
              <p class="item-overview__id" id="item_id">san.asjsansakjsakjasjksajkas</p>
            </div>
            <div class="item-overview__column">
              <h3 class="item-overview__heading">access_token</h3>
              <p class="item-overview__id" id="access_token">••••••••hsakjsl</p>
            </div>

            <div style="clear: both"></div>
          </div>

          <p>Now that you have an access_token you can make all of the following API requests:</p>

          <div class="box">
            <h3 class="box__heading">Products</h3>

            <!--Transactions -->
            <div class="item-data-row">
              <div class="item-data-row__left">
                <div class="item-data-row__request-type">post</div>
              </div>
              <div class="item-data-row__center">
                <div class="item-data-row__nicename">Transactions</div>
                <div class="item-data-row__endpoint">/transactions/get</div>
                <div class="item-data-row__description">Retrieve transactions for credit and depository accounts.</div>
              </div>
              <div class="item-data-row__right">
                <button id="get-transactions-btn" class="button button--is-small button--is-default button--is-full-width">Send request</button>
              </div>
              <div class="item-data-row__response">
                <table><tbody id="get-transactions-data"></tbody></table>
              </div>
            </div>

            <!-- Emmission Breakdown -->
            <div class="item-data-row">
              <div class="item-data-row__left">
                <div class="item-data-row__request-type">post</div>
              </div>
              <div class="item-data-row__center">
                <div class="item-data-row__nicename">Emmission Breakdown</div>
                <div class="item-data-row__endpoint">/breakdown/:days/get</div>
                <div class="item-data-row__description">Retrieve the emmission breakdown for credit and depository accounts. To see the raw json from this request navigate in your browser to http://localhost:8000/breakdown/:days </div>
              </div>
              <div class="item-data-row__right">
                <label>Last</label>
                <input type="number" id="get-breakdown-days" value="30" style="width: 4em"s>
                <label>days</label>
                <button id="get-breakdown-btn" class="button button--is-small button--is-default button--is-full-width">Send request</button>
              </div>
              <div class="item-data-row__response">
                <table><tbody id="get-breakdown-data"></tbody></table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  <script>
  (function($) {
    var products = '<%= PLAID_PRODUCTS %>'.split(',');
    if (products.includes('assets')) {
      $('#assets').show();
    }

    var handler = Plaid.create({
      apiVersion: 'v2',
      clientName: 'Plaid Quickstart',
      env: '<%= PLAID_ENV %>',
      product: products,
      key: '<%= PLAID_PUBLIC_KEY %>',
      // webhook: 'https://your-domain.tld/plaid-webhook',
      onSuccess: function(public_token) {
        $.post('/get_access_token', {
          public_token: public_token
        }, function(data) {
          $('#container').fadeOut('fast', function() {
            $('#item_id').text(data.item_id);
            $('#access_token').text(data.access_token);
            $('#intro').hide();
            $('#app, #steps').fadeIn('slow');
          });
        });
      },
    });
    var accessToken = qs('access_token');
    if (accessToken != null && accessToken != '') {
      $.post('/set_access_token', {
        access_token: accessToken
      }, function(data) {
        $('#container').fadeOut('fast', function() {
          $('#item_id').text(data.item_id);
          $('#access_token').text(accessToken);
          $('#intro').hide();
          $('#app, #steps').fadeIn('slow');
        });
      });
    }

    $('#link-btn').on('click', function(e) {
      handler.open();
    });

    $('#get-transactions-btn').on('click', function(e) {
      $.get('/transactions', function(data) {
        if (data.error != null && data.error.error_code != null) {
          // Format the error
          var errorHtml = '<div class="inner"><p>' +
           '<strong>' + data.error.error_code + ':</strong> ' +
           (data.error.display_message == null ? data.error.error_message : data.error.display_message)  + '</p></div>';

          if (data.error.error_code === 'PRODUCT_NOT_READY') {
            // Add additional context for `PRODUCT_NOT_READY` errors
            errorHtml += '<div class="inner"><p>Note: The PRODUCT_NOT_READY ' +
             'error is returned when a request to retrieve Transaction data ' +
             'is made before Plaid finishes the <a href="https://plaid.com/' +
             'docs/quickstart/#transaction-data-with-webhooks">initial ' +
             'transaction pull.</a></p></div>';
          }
          // Render the error
          $('#get-transactions-data').slideUp(function() {
            $(this).slideUp(function() {
              $(this).html(errorHtml).slideDown();
            });
          });
        } else {
          $('#get-transactions-data').slideUp(function() {
            var html = '<tr><td><strong>Name</strong></td><td><strong>Amount</strong></td><td><strong>Date</strong></td></tr>';
            data.transactions.transactions.forEach(function(txn, idx) {
              html += '<tr>';
              html += '<td>' + txn.name + '</td>';
              html += '<td>$' + txn.amount + '</td>';
              html += '<td>' + txn.date + '</td>';
              html += '<td>' + txn.category + '</td>';
              html += '</tr>';
            });

            $(this).slideUp(function() {
              $(this).html(html).slideDown();
            });
          });
        }
      });
    });

    $('#get-breakdown-btn').on('click', function(e) {
      let days = $('#get-breakdown-days').val()
      console.log(days);
      $.get('/breakdown/' + days, function(data) {
        if (data.error != null && data.error.error_code != null) {
          // Format the error
          var errorHtml = '<div class="inner"><p>' +
           '<strong>' + data.error.error_code + ':</strong> ' +
           (data.error.display_message == null ? data.error.error_message : data.error.display_message)  + '</p></div>';

          if (data.error.error_code === 'PRODUCT_NOT_READY') {
            // Add additional context for `PRODUCT_NOT_READY` errors
            errorHtml += '<div class="inner"><p>Note: The PRODUCT_NOT_READY ' +
             'error is returned when a request to retrieve Transaction data ' +
             'is made before Plaid finishes the <a href="https://plaid.com/' +
             'docs/quickstart/#transaction-data-with-webhooks">initial ' +
             'transaction pull.</a></p></div>';
          }
          // Render the error
          $('#get-breakdown-data').slideUp(function() {
            $(this).slideUp(function() {
              $(this).html(errorHtml).slideDown();
            });
          });
        } else {
          $('#get-breakdown-data').slideUp(function() {
            var html = '<tr><td><strong>category</strong></td><td><strong>Expense</strong></td><td><strong>Emmission</strong></td><td><strong>Transactions</strong></td></tr>';
            Object.keys(data.breakdown).forEach(function(category, idx) {
              var categoryInfo = data.breakdown[category];
              html += '<tr>';
              html += '<td>' + category + '</td>';
              html += '<td>$' + categoryInfo.cost + '</td>';
              html += '<td>' + categoryInfo.emissions.toFixed(2) + ' kg^2 CO2</td>';
              html += '<td>' + categoryInfo.transactions.length + '</td>';
              html += '</tr>';
            });

            $(this).slideUp(function() {
              $(this).html(html).slideDown();
            });
          });
        }
      });
    });
  })(jQuery);

function qs(key) {
    key = key.replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&"); // escape RegEx meta chars
    var match = location.search.match(new RegExp("[?&]"+key+"=([^&]+)(&|$)"));
    return match && decodeURIComponent(match[1].replace(/\+/g, " "));
}
  </script>
</body>
</html>
